<header class="header">
    <div class="container">
        <p class="welcome-message">Welcome, thank you for visiting!</p>
        <nav class="navigation">
            <ul class="navigation-items">
                <li class="navigation-item">
                    <a href="http://art11one.com">Available Art</a>
                </li>
                <li class="navigation-item">
                    <a href="mailto:artist@art11one.com">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
